{include file="public/header" /}
<div class="activity-main-img">
	<img src="__STATIC__/imgs/banner1.png" alt=""/>
</div>
<div class="activity-main-wrap">
	<!-- l靓号秒杀 -->
	<div class="activity-number-skill">
		<div class="activity-header">
			<div>
				<span class="activity-header-left"></span>
				<span class="activity-header-title">靓号秒杀<span class="icon icon-skill"></span></span>
				<span class="activity-header-right"></span>
			</div>
		</div>
		<div class="activity-time">
			<ul>
				<li class="activity-time-title">
					<h4>22:00</h4>
					<div>
						<span>正在秒杀</span>
						<span>距结束：00:32:55</span>
					</div>
				</li>
				<li class="activity-time-other first-time-other">
					<span class="actime-time">明日00:00</span>
					<span class="actime-tag">即将开始</span>
				</li>
				<li class="activity-time-other">
					<span class="actime-time">明日01:00</span>
					<span class="actime-tag">即将开始</span>
				</li>
				<li class="activity-time-other">
					<span class="actime-time">明日02:00</span>
					<span class="actime-tag">即将开始</span>
				</li>
				<li class="activity-time-other last-time-other">
					<span class="actime-time">明日03:00</span>
					<span class="actime-tag">即将开始</span>
				</li>
			</ul>
		</div>
		<div class="activity-number-wrap">
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
			<div class="activity-number-list">
				<h4>1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price mcolor">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<div class="activity-btn-wrap">
					<div class="activity-btn-left">
						<p>温州移动</p>
						<p class="r-color">秒杀价￥3000</p>
					</div>
					<div class="activity-btn-right">
						<button class="ripple">立即抢购</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 领券中心 -->
	<div class="voucher-center-wrap">
		<div class="activity-header">
			<div>
				<span class="activity-header-left"></span>
				<span class="activity-header-title">领券中心<span class="icon icon-quan"></span></span>
				<span class="activity-header-right"></span>
			</div>
		</div>
		<div class="voucher-con-wrap">
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-unget ripple">
						<b></b>
						<span>立即领取</span>
					</a>
				</div>
			</div>
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-get">
						<b></b>
						<span>已领取</span>
					</a>
				</div>
			</div>
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-unget ripple">
						<b></b>
						<span>立即领取</span>
					</a>
				</div>
			</div>
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-unget ripple">
						<b></b>
						<span>立即领取</span>
					</a>
				</div>
			</div>
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-unget ripple">
						<b></b>
						<span>立即领取</span>
					</a>
				</div>
			</div>
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-unget ripple">
						<b></b>
						<span>立即领取</span>
					</a>
				</div>
			</div>
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-unget ripple">
						<b></b>
						<span>立即领取</span>
					</a>
				</div>
			</div>
			<div class="voucher-con-list">
				<div class="voucher-circle"><i class="i1"></i><i class="i2"></i></div>
				<div class="voucher-con-left">
					<div class="con-left-top">
						<span class="num-color">￥</span>
						<span class="num-color voucher-price">100</span>
						<span class="num-color voucher-tag">全场通用</span>
					</div>
					<div class="voucher-info">
						【通用】 所有的靓号都可以使用
					</div>
					<div class="voucher-count">
						<span>已抢33%</span>
						<p class="line-progress">
							<span class="used-progress" style="width: 30%"></span>
						</p>
					</div>
				</div>
				<div class="voucher-con-right">
					<a href="javascript:void(0);" class="voucher-unget ripple">
						<b></b>
						<span>立即领取</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- 活动中心 -->
	<div class="activity-center-wrap">
		<div class="activity-header">
			<div>
				<span class="activity-header-left"></span>
				<span class="activity-header-title">活动中心<span class="icon icon-center"></span></span>
				<span class="activity-header-right"></span>
			</div>
		</div>
		<div class="activity-center-con">
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
			<div class="activity-center-list">
				<div class="center-list-top">
					<div class="card-tag"></div>
					<div class="card-tag-t">Hot</div>
					<p>【靓号】 推广最高可获45%现金奖励</p>
				</div>
				<div class="center-list-bot">
					<p>推荐好友购买靓号即可获取现金奖励</p>
					<button class="ripple">我要参与</button>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/pubfooter" /}