{include file="public/header" /}
<div class="banner-wrap">
	<ul class="banner-img">
		<li>
			<a><img src="__STATIC__/imgs/banner1.png"></a>
		</li>
		<li class="hidden">
			<a><img src="https://static1.jihaoba.com/home/images/index_banner2.jpg"></a>
		</li>
		<li class="hidden">
			<a><img src="https://static1.jihaoba.com/home/images/index_banner3.jpg"></a>
		</li>
	</ul>
	<ul class="banner-list">
		<li class="banner-active">1</li>
		<li>2</li>
		<li>3</li>
	</ul>
</div>
<div class="kind-wrap main01">
	<h4><span class="icon icon-quality mcolor"></span>优质推荐</h4>
	<div class="row">
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<a href="{:url('Mobile/mobiledetail')}"><h4 class="num-detail">1777180<span class="num-color">6167</span></h4></a>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
		<div class="number-card">
			<div class="card-tag"></div>
			<div class="card-tag-t">7折</div>
			<div class="card_cont">
				<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
				<p>
					<span class="num-price num-color">￥5800</span>
					<span class="old-price">￥4800</span>
					<span class="price-info">(含话费1000)</span>
				</p>
				<p>
					<span class="num-address">温州移动</span>
					<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
					<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- 推荐 -->
<div class="recommend">
	<div class="recommend-wrap">
		<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg" alt="">
	</div>
	<div class="recommend-wrap">
		<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg" alt="">
	</div>
	<div class="recommend-wrap">
		<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg" alt="">
	</div>
	<div class="recommend-wrap">
		<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg" alt="">
	</div>
	<div class="recommend-wrap">
		<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg" alt="">
	</div>
</div>
<!-- 推荐结束 -->
<!-- 手机靓号 -->
	<div class="kind-wrap">
		<h4 class="recommend-title-wrap">
			<div class="title-left"><span class="icon icon-phone mcolor"></span>手机靓号</div>
			<div class="title-right">
				<div>
					<span class="kindseled">精选手机靓号</span>
					<span>联通400靓号</span>
					<span>移动400靓号</span>
					<span>电信400靓号</span>
					<span>精选靓号</span>
					<span>精选靓号</span>
				</div>
				<div>更多</div>
			</div>
		</h4>
		<div class="row">
			<div class="row-left">
				<div class="left-img">
					<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg">
				</div>
				<div class="hot-city">
					<h4>热门城市</h4>
					<div class="sel-wrap">
						<span>北京</span>
						<span>上海</span>
						<span>深圳</span>
						<span>广州</span>
						<span>武汉</span>
						<span>北京</span>
						<span>深圳</span>
						<span>广州</span>
						<span>武汉</span>
						<span>更多</span>
					</div>
				</div>
				<div class="hot-operator">
					<h4>运营商</h4>
					<div class="sel-wrap">
						<span>移动</span>
						<span>联通</span>
						<span>电信</span>
						<span>虚拟运营商</span>
					</div>
				</div>
				<div class="hot-rule">
					<h4>热门规律</h4>
					<div class="sel-wrap">
						<span>中间AAAA</span>
						<span>中间AAAAA</span>
						<span>中间AAAAA</span>
						<span>中间AABB</span>
						<span>中间AAABB</span>
						<span>中间AABBB</span>
						<span>中间AAABBB</span>
						<span>中间AABBCC</span>
						<span>中间ABCD</span><br>
						<p class="more-rule">更多</p>
					</div>
				</div>
			</div>
			<div class="row-right">
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 手机靓号结束 -->
	<!-- 推荐 -->
	<div class="recommend">
		<div class="recommend-img">
			<img src="http://static2.jihaoba.com/7niu/upload/5b6d537496292.jpg" alt="">
		</div>
	</div>
	<!-- 推荐结束 -->
	<!-- 固定电话 -->
	<div class="kind-wrap">
		<h4 class="recommend-title-wrap">
			<div class="title-left"><span class="icon icon-call mcolor"></span>固定电话</div>
			<div class="title-right">
				<div>
					<span class="kindseled">精选手机靓号</span>
					<span>联通400靓号</span>
					<span>移动400靓号</span>
					<span>电信400靓号</span>
					<span>精选靓号</span>
					<span>精选靓号</span>
				</div>
				<div>更多</div>
			</div>
		</h4>
		<div class="row">
			<div class="row-left">
				<div class="left-img">
					<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg">
				</div>
				<div class="hot-city">
					<h4>热门城市</h4>
					<div class="sel-wrap">
						<span>北京</span>
						<span>上海</span>
						<span>深圳</span>
						<span>广州</span>
						<span>武汉</span>
						<span>北京</span>
						<span>深圳</span>
						<span>广州</span>
						<span>武汉</span>
						<span>更多</span>
					</div>
				</div>
				<div class="hot-operator">
					<h4>运营商</h4>
					<div class="sel-wrap">
						<span>移动</span>
						<span>联通</span>
						<span>电信</span>
						<span>虚拟运营商</span>
					</div>
				</div>
				<div class="hot-rule">
					<h4>热门规律</h4>
					<div class="sel-wrap">
						<span>中间AAAA</span>
						<span>中间AAAAA</span>
						<span>中间AAAAA</span>
						<span>中间AABB</span>
						<span>中间AAABB</span>
						<span>中间AABBB</span>
						<span>中间AAABBB</span>
						<span>中间AABBCC</span>
						<span>中间ABCD</span><br>
						<p class="more-rule">更多</p>
					</div>
				</div>
			</div>
			<div class="row-right">
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 固定电话结束 -->
	<!-- 推荐 -->
	<div class="recommend">
		<div class="recommend-img">
			<img src="http://static2.jihaoba.com/7niu/upload/5b6d537496292.jpg" alt="">
		</div>
	</div>
	<!-- 推荐结束 -->
	<!-- 400电话 -->
	<div class="kind-wrap">
		<h4 class="recommend-title-wrap">
			<div class="title-left"><span class="icon icon-400 mcolor"></span>400电话</div>
			<div class="title-right">
				<div>
					<span class="kindseled">精选手机靓号</span>
					<span>联通400靓号</span>
					<span>移动400靓号</span>
					<span>电信400靓号</span>
					<span>精选靓号</span>
					<span>精选靓号</span>
				</div>
				<div>更多</div>
			</div>
		</h4>
		<div class="row">
			<div class="row-left">
				<div class="left-img">
					<img src="http://static2.jihaoba.com/7niu/upload/5bed10945e247.jpg">
				</div>
				<div class="hot-city">
					<h4>热门城市</h4>
					<div class="sel-wrap">
						<span>北京</span>
						<span>上海</span>
						<span>深圳</span>
						<span>广州</span>
						<span>武汉</span>
						<span>北京</span>
						<span>深圳</span>
						<span>广州</span>
						<span>武汉</span>
						<span>更多</span>
					</div>
				</div>
				<div class="hot-operator">
					<h4>运营商</h4>
					<div class="sel-wrap">
						<span>移动</span>
						<span>联通</span>
						<span>电信</span>
						<span>虚拟运营商</span>
					</div>
				</div>
				<div class="hot-rule">
					<h4>热门规律</h4>
					<div class="sel-wrap">
						<span>中间AAAA</span>
						<span>中间AAAAA</span>
						<span>中间AAAAA</span>
						<span>中间AABB</span>
						<span>中间AAABB</span>
						<span>中间AABBB</span>
						<span>中间AAABBB</span>
						<span>中间AABBCC</span>
						<span>中间ABCD</span><br>
						<p class="more-rule">更多</p>
					</div>
				</div>
			</div>
			<div class="row-right">
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
				<div class="number-card-common">
					<div class="card-tag"></div>
					<div class="card-tag-t">7折</div>
					<div class="card_cont">
						<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
						<p>
							<span class="num-price num-color">￥5800</span>
							<span class="old-price">￥4800</span>
							<span class="price-info">(含话费1000)</span>
						</p>
						<p>
							<span class="num-address">温州移动</span>
							<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
							<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 400电话结束 -->
	<!-- 推荐 -->
	<div class="recommend">
		<div class="recommend-img">
			<img src="http://static2.jihaoba.com/7niu/upload/5b6d537496292.jpg" alt="">
		</div>
	</div>
	<!-- 推荐结束 -->
	<!-- 社区交流 -->
	<div class="kind-wrap">
		<h4><span class="icon icon-msg mcolor"></span>社区交流</h4>
		<div class="row community">
			<div class="community-left">
				<h5><span>热门发帖</span><span class="mcolor more-community">更多</span></h5>
				<div class="community-wrap">
					<ul>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
						<li><span class="con-main">【靓号回收】 本人有一个连号的号码要出租有人愿意租吗</span><span class="con-time">11-10  20:45</span></li>
					</ul>
				</div>
			</div>
			<div class="community-right">
				<h5><span>活跃会员</span><span class="mcolor more-community">更多</span></h5>
				<div class="member-wrap">
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name text-hide">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
					<div class="member-list">
						<div class="member-img"><img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt=""></div>
						<div class="member-name">
							温州靓仔
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 社区交流结束 -->
	
{include file="public/pubfooter" /}