{include file="public/header" /}
<div class="numbercus-header-img">
	<img src="https://static1.jihaoba.com/home/images/index_banner2.jpg" alt="">
</div>
<div class="numbercus-main-wrap mobileseled">
	<div class="activity-header numbercus-title">
		<div>
			<span class="activity-header-left"></span>
			<span class="activity-header-title">靓号定制中心<span class="icon icon-liang"></span></span>
			<span class="activity-header-right"></span>
		</div>
	</div>
	<!-- <h4 class="numbercus-title mcolor"><div><span class="icon icon-liang"></span>靓号定制中心</div></h4> -->
	<div class="numbercus-tips">
		<div class="mobileseled-tips">
			<span class="icon icon-tips"></span>温馨提示：亲爱的用户，如果您在手机选号大厅查询不到您所需要的手机号码，可直接填写以下表单，我们将会更快为您找到所需要的或类似的号码，更好的为您服务！
		</div>
		<div class="phoneseled-tips">
			<span class="icon icon-tips"></span>温馨提示：亲爱的用户，如果您在固话选号大厅查询不到您所需要的固话号码，可直接填写以下表单，我们将会更快为您找到所需要的或类似的号码，更好的为您服务！
		</div>
		<div class="fphoneseled-tips">
			<span class="icon icon-tips"></span>温馨提示：亲爱的用户，如果您在400选号大厅查询不到您所需要的400号码，可直接填写以下表单，我们将会更快为您找到所需要的或类似的号码，更好的为您服务！
		</div>
	</div>
	<div class="numbercus-content">
		<div class="numbercus-content-left">
			<div class="mobileseled-left">
				<button>手机号码估价</button>
				<button>号码归属地查询</button>
				<button>手机号段查询</button>
			</div>
			<div class="phoneseled-left">
				<button>企业短信群发</button>
				<button>企业400号码</button>
			</div>
			<div class="fphoneseled-left">
				<button>进入官方选号</button>
				<button>短信大全</button>
			</div>
		</div>
		<div class="numbercus-content-right">
			<ul class="number-sel-kind">
				<li data-elem="mobileseled" data-oelem="phoneseled fphoneseled" class="active-kind">手机靓号在线定制</li>
				<li data-elem="phoneseled" data-oelem="mobileseled fphoneseled">固定电话在线定制</li>
				<li data-elem="fphoneseled" data-oelem="mobileseled phoneseled">400电话在线定制</li>
			</ul>
			<div class="numbercus-form-wrap mobileseled-right">
				<h4>请输入您需要预订的手机靓号信息：</h4>
				<div class="form-item">
					手机靓号：
					<input type="text" name="number" placeholder="">
					<p>*必填项 (请输入你需要包含的数字，无特殊要求的数字以*号代替，例如：需要预订首数为139，尾数为8858的手机号，则填为139****8858，带星号的需选择城市。)</p>
				</div>
				<div class="form-item">
					所在地区：
					<select>
						<option>不限归属地</option>
					</select>
					<select>
						<option>不限城市</option>
					</select>
					<p>不选表示不限城市</p>
				</div>
				<div class="form-item">
					号码详情：
					<textarea rows="3" cols="60">预算：</textarea>
				</div>
				<h4>请填好您的联系方式，有此号码号商会尽快与您联系</h4>
				<div class="form-item">
					联系电话：
					<input type="text" name="number" placeholder="">
					<p>*</p>
				</div>
				<div class="form-btn-wrap">
					<button class="ripple">立即定制</button>
					<button class="ripple">重新填写</button>
				</div>
				<div class="contact-img-wrap">
					<h4>您也可以选择直接官方客服</h4>
					<h4>电话：17771806167</h4>
					<img src="__STATIC__/imgs/wechart.jpg" class="contact-img">
				</div>
			</div>
			<div class="numbercus-form-wrap phoneseled-right">
				<h4>请输入你需要预订的固话靓号信息：</h4>
				<div class="form-item">
					固话靓号：
					<input type="text" name="number" placeholder="">
					<p>*必填项 (号码可以含*号，例如：67***888)</p>
				</div>
				<div class="form-item">
					所在地区：
					<select>
						<option>不限归属地</option>
					</select>
					<select>
						<option>不限城市</option>
					</select>
					<p>不选表示不限城市</p>
				</div>
				<div class="form-item">
					其他要求：
					<textarea rows="3" cols="60"></textarea>
				</div>
				<h4>请填好您的联系方式，有此号码号商会尽快与您联系</h4>
				<div class="form-item-two">
					<div>
						您的姓名：
						<input type="text" name="number" placeholder="">
						<p>*</p>
					</div>
					<div>
						联系方式：
						<input type="text" name="number" placeholder="">
						<p>*</p>
					</div>
				</div>
				<div class="form-btn-wrap">
					<button class="ripple">立即定制</button>
					<button class="ripple">重新填写</button>
				</div>
				<div class="contact-img-wrap">
					<h4>您也可以选择直接官方客服</h4>
					<h4>电话：17771806167</h4>
					<img src="__STATIC__/imgs/wechart.jpg" class="contact-img">
				</div>
			</div>
			<div class="numbercus-form-wrap fphoneseled-right">
				<h4>请输入你需要预订的400电话信息：</h4>
				<div class="form-item">
					400 电话：
					<input type="text" name="number" placeholder="">
					<p>*必填项 (可包*号，例如：4000377***)</p>
				</div>
				<div class="form-item">
					所在地区：
					<select>
						<option>不限归属地</option>
					</select>
					<select>
						<option>不限城市</option>
					</select>
					<p>不选表示不限城市</p>
				</div>
				<div class="form-item">
					其他要求：
					<textarea rows="3" cols="60"></textarea>
				</div>
				<h4>请填好您的联系方式，有此号码号商会尽快与您联系</h4>
				<div class="form-item-two">
					<div>
						您的姓名：
						<input type="text" name="number" placeholder="">
						<p>*</p>
					</div>
					<div>
						联系方式：
						<input type="text" name="number" placeholder="">
						<p>*</p>
					</div>
				</div>
				<div class="form-btn-wrap">
					<button class="ripple">立即定制</button>
					<button class="ripple">重新填写</button>
				</div>
				<div class="contact-img-wrap">
					<h4>您也可以选择直接官方客服</h4>
					<h4>电话：17771806167</h4>
					<img src="__STATIC__/imgs/wechart.jpg" class="contact-img">
				</div>
			</div>
		</div>
	</div>
	<div class="numbercus-care">
		<h4>注意事项：</h4>
		<p>1、您的400电话定制信息，我们会发送至您当地的号码经销商，如果经销商有您需要的号码，会及时和您联系，请耐心等待。</p>
		<p>2、如果您已经购买到号码，需要删除您的预定信息，请点击这里。</p>
	</div>
	<!-- 推荐 -->
	<div class="view-recommand">
		<h4><span class="icon icon-quality mcolor"></span>根据您的浏览规律为您推荐：</h4>
		<div class="row">
			<div class="number-card">
				<div class="card-tag"></div>
				<div class="card-tag-t">7折</div>
				<div class="card_cont">
					<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
					<p>
						<span class="num-price num-color">￥5800</span>
						<span class="old-price">￥4800</span>
						<span class="price-info">(含话费1000)</span>
					</p>
					<p>
						<span class="num-address">温州移动</span>
						<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
						<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
					</p>
				</div>
			</div>
			<div class="number-card">
				<div class="card-tag"></div>
				<div class="card-tag-t">7折</div>
				<div class="card_cont">
					<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
					<p>
						<span class="num-price num-color">￥5800</span>
						<span class="old-price">￥4800</span>
						<span class="price-info">(含话费1000)</span>
					</p>
					<p>
						<span class="num-address">温州移动</span>
						<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
						<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
					</p>
				</div>
			</div>
			<div class="number-card">
				<div class="card-tag"></div>
				<div class="card-tag-t">7折</div>
				<div class="card_cont">
					<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
					<p>
						<span class="num-price num-color">￥5800</span>
						<span class="old-price">￥4800</span>
						<span class="price-info">(含话费1000)</span>
					</p>
					<p>
						<span class="num-address">温州移动</span>
						<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
						<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
					</p>
				</div>
			</div>
			<div class="number-card">
				<div class="card-tag"></div>
				<div class="card-tag-t">7折</div>
				<div class="card_cont">
					<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
					<p>
						<span class="num-price num-color">￥5800</span>
						<span class="old-price">￥4800</span>
						<span class="price-info">(含话费1000)</span>
					</p>
					<p>
						<span class="num-address">温州移动</span>
						<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
						<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
					</p>
				</div>
			</div>
			<div class="number-card">
				<div class="card-tag"></div>
				<div class="card-tag-t">7折</div>
				<div class="card_cont">
					<h4 class="num-detail">1777180<span class="num-color">6167</span></h4>
					<p>
						<span class="num-price num-color">￥5800</span>
						<span class="old-price">￥4800</span>
						<span class="price-info">(含话费1000)</span>
					</p>
					<p>
						<span class="num-address">温州移动</span>
						<span class="collect-price"><i class="icon icon-col"></i>收藏</span>
						<span class="add-cart"><i class="icon icon-cart"></i>加入购物车</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- 结束 -->
	<div class="buy-flow">
		<img src="__STATIC__/imgs/buy-flow.jpg">
	</div>
</div>
{include file="public/pubfooter" /}