{include file="public/header" /}
	<div class="mobiledetail-main-wrap">
		<div class="mobiledetail-main-left">
			<div class="mobiledetail-num-top">
				<h4>1777180<span class="r-color">6167</span></h4>
				<p>浙江省 温州 中国移动</p>
			</div>
			<div class="mobiledetail-num-mid">
				<div class="mobiledetail-mid-left">
					<p>规律：位数ABCD</p>
					<p>价格：
						<span class="num-price num-color">￥5800</span>
						<span class="old-price">￥4800</span>
						<span class="price-info">(含话费1000)</span>
					</p>
				</div>
				<div class="mobiledetail-mid-right">
					<button class="ripple">立即购买</button>
					<button class="ripple">加入购物车</button>
				</div>
			</div>
			<div class="mobiledetail-num-bot">
				<p>优惠专区：</p>
				<div>
					<p>1、联系客服确定号码是否还在。</p>
					<p>2、预约成功后，然后确定交易时间和营业厅地点。</p>
					<p>3、根据国家工信部相关规定，所有手机号码销售都需要提供身份证实名验证,到营业厅实名过户。国家工信部《电话用户真实身份信息登记规定》（工业和信息化部令第25号）、电话“黑卡”治理专项行动工作方案。</p>
				</div>
			</div>
			<div class="mobiledetail-buy-flow">
				<div>
					<img src="https://static1.jihaoba.com/home/images/ghlc.jpg">
				</div>
			</div>
			<div class="mobiledetail-shop-comment">
				<p>店铺评论（好评率 100%）</p>
				<fieldset align="center">
				    <legend><span class="icon icon-comment"></span>评论</legend>
				    <textarea maxlength="280" cols="80" rows="3" placeholder="欢迎留下评论哦！"></textarea>
				    <button class="ripple">发布</button>
				    <div class="comment-list">
						<ul>
							<li>
								<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg">
								<div>
									<p class="mcolor">蔡功达</p>
									<p>购靓号真好</p>
									<p><span>2018/5/2</span><span>回复</span></p>
								</div>
							</li>
							<li>
								<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg">
								<div>
									<p class="mcolor">蔡功达</p>
									<p>购靓号真好</p>
									<p><span>2018/5/2</span><span>回复</span></p>
								</div>
							</li>
							<li>
								<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg">
								<div>
									<p class="mcolor">蔡功达</p>
									<p>购靓号真好</p>
									<p><span>2018/5/2</span><span>回复</span></p>
								</div>
							</li>
						</ul>
				    </div>
				</fieldset>
			</div>
		</div>
		<div class="mobiledetail-main-right">
			<div class="mobiledetail-mright-img">
				<a href="#"><img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt=""></a>
			</div>
			<div class="mobiledetail-store-info">
				<div class="mobiledetail-store-top">
					<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg">
					<div>
						<h4 class="text-hide">购靓号官方旗舰店</h4>
						<p><span>金牌合作伙伴</span><button>+关注</button></p>
					</div>
				</div>
				<div class="mobiledetail-store-data">
					<div><p>靓号总数：3000+</p><p>交易次数：35次 </p></div>
					<div><p>粉丝总数：3020+</p><p>好评率：100% </p></div>
				</div>
				<button class="mobiledetail-store-center ripple">进入主页<span class="icon icon-homepage"></span></button>
			</div>
			<div class="mobiledetail-about">
				<h4><span class="icon icon-about mcolor"></span>相关推荐</h4>
				<ul>
					<li><h4><a>1777180<span class="r-color">6167</span></h4></a><span>温州移动</span></li>
					<li><h4>1777180<span class="r-color">6167</span></h4><span>温州移动</span></li>
					<li><h4>1777180<span class="r-color">6167</span></h4><span>温州移动</span></li>
					<li><h4>1777180<span class="r-color">6167</span></h4><span>温州移动</span></li>
					<li><h4>1777180<span class="r-color">6167</span></h4><span>温州移动</span></li>
					<li><h4>1777180<span class="r-color">6167</span></h4><span>温州移动</span></li>
				</ul>
			</div>
		</div>
	</div>
{include file="public/pubfooter" /}