{include file="public/header" /}
<div class="partner-main-img">
	<img src="__STATIC__/imgs/banner1.png" alt=""/>
</div>
<div class="partner-main-wrap">
	<div class="join-us">
		<button class="join-us-btn ripple">加入我们</button>
	</div>
	<div class="rights-con-wrap">
		<div class="activity-header">
			<div>
				<span class="activity-header-left"></span>
				<span class="activity-header-title">合作伙伴权益</span>
				<span class="activity-header-right"></span>
			</div>
		</div>
		<div class="rights-info-wrap">
			<div class="rights-img-list">
				<img src="__STATIC__/imgs/partner-img.jpg" alt="">
			</div>
			<div class="rights-img-list">
				<img src="__STATIC__/imgs/partner-img.jpg" alt="">
			</div>
			<div class="rights-img-list">
				<img src="__STATIC__/imgs/partner-img.jpg" alt="">
			</div>
			<div class="rights-img-list">
				<img src="__STATIC__/imgs/partner-img.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="join-flow-wrap">
		<div class="activity-header">
			<div>
				<span class="activity-header-left"></span>
				<span class="activity-header-title">合作伙伴申请流程</span>
				<span class="activity-header-right"></span>
			</div>
		</div>
		<div class="join-flow-img">
			<img src="__STATIC__/imgs/plans-pc.svg" alt="">
		</div>
	</div>
	<div class="partner-all-wrap">
		<div class="activity-header">
			<div>
				<span class="activity-header-left"></span>
				<span class="activity-header-title">合作伙伴在全国靓号</span>
				<span class="activity-header-right"></span>
			</div>
		</div>
		<div class="partner-con-wrap">
			<div class="partner-con-list">
				<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt="" class="partner-header-img">
				<div class="partner-manage-info">
					<h4>温州移动营业厅</h4>
					<p><span>靓号总数：3000+</span><span>发帖总数：3000+</span></p>
					<p><span>交易次数：35次</span><span>好评率：100%</span></p>
				</div>
				<div class="partner-view-btn">
					<div class="mcolor">金牌合作伙伴</div>
					<button class="index-partner ripple">进入主页</button>
				</div>
			</div>
			<div class="partner-con-list">
				<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt="" class="partner-header-img">
				<div class="partner-manage-info">
					<h4>温州移动营业厅</h4>
					<p><span>靓号总数：3000+</span><span>发帖总数：3000+</span></p>
					<p><span>交易次数：35次</span><span>好评率：100%</span></p>
				</div>
				<div class="partner-view-btn">
					<div class="mcolor">金牌合作伙伴</div>
					<button class="index-partner ripple">进入主页</button>
				</div>
			</div>
			<div class="partner-con-list">
				<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt="" class="partner-header-img">
				<div class="partner-manage-info">
					<h4>温州移动营业厅</h4>
					<p><span>靓号总数：3000+</span><span>发帖总数：3000+</span></p>
					<p><span>交易次数：35次</span><span>好评率：100%</span></p>
				</div>
				<div class="partner-view-btn">
					<div class="mcolor">金牌合作伙伴</div>
					<button class="index-partner ripple">进入主页</button>
				</div>
			</div>
			<div class="partner-con-list">
				<img src="http://img.php.cn/upload/avatar/000/153/291/5becef3f5ae24879.jpg" alt="" class="partner-header-img">
				<div class="partner-manage-info">
					<h4>温州移动营业厅</h4>
					<p><span>靓号总数：3000+</span><span>发帖总数：3000+</span></p>
					<p><span>交易次数：35次</span><span>好评率：100%</span></p>
				</div>
				<div class="partner-view-btn">
					<div class="mcolor">金牌合作伙伴</div>
					<button class="index-partner ripple">进入主页</button>
				</div>
			</div>
		</div>
	</div>
</div>
{include file="public/pubfooter" /}