{include file="public/header" /}
<div class="com-main-wrap">
	<div class="com-left-wrap">
		<div class="com-left-img banner-common">
			<ul class="banner-img">
				<li>
					<a><img src="__STATIC__/imgs/banner1.png"></a>
				</li>
				<li class="hidden">
					<a><img src="https://static1.jihaoba.com/home/images/index_banner2.jpg"></a>
				</li>
				<li class="hidden">
					<a><img src="https://static1.jihaoba.com/home/images/index_banner3.jpg"></a>
				</li>
			</ul>
			<ul class="banner-list">
				<li class="banner-active">1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>
		<div class="com-notice-wrap">
			<div class="com-notice-left">
				<span>通知公告</span>
				<span class="icon icon-notice mcolor"></span>
				<span class="notice-con">【特大喜讯】全国靓号交易平台正式上线！</span>
			</div>
			<div class="com-notice-right">
				<div class="search-icon-wrap"><span class="icon icon-search"></span></div>
				<input type="text" name="" placeholder="请输入搜索关键字">
				<button class="search-btn ripple">搜索</button>
			</div>
		</div>
		<div class="com-nav-wrap">
			<ul>
				<li class="comnavseled">最新</li>
				<li>热门</li>
				<li>靓号</li>
				<li>运营商</li>
				<li>问答</li>
				<li>出租</li>
				<li>回收</li>
				<li>抵押</li>
				<li>应用</li>
			</ul>
		</div>
		<div class="com-content-wrap">
			<!-- 1 -->
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4 class="text-hide">靓号投资新方向，出租手机靓号市场热靓号投资新方向，出租手机靓号市场热靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 2 -->
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 3 -->
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-list-wrap">
				<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
				<div class="con-list-info">
					<h4>靓号投资新方向，出租手机靓号市场热</h4>
					<p class="two-row-hide">由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现由于经典手机靓号的资源短缺，很多的手机靓号价格飙升，一个139开头的，尾数为四个6的号码，在早些市场价大概为5到6万元，而现</p>
					<div class="auther-info">
						<div class="auther-info-left">
							<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg">
							<div>温州移动</div>
							<div>2018/11/13</div>
						</div>
						<div class="auther-info-right">
							<span class="col-article"><span class="icon icon-sc"></span>666</span>
							<span class="zan-article"><span class="icon icon-zan"></span>666</span>
						</div>
					</div>
				</div>
			</div>
			<div class="load-more">
				<button class="ripple">
					<div class="load-text">加载更多<span class="icon icon-more"></span></div>
					<div class="loading ball-pulse hidden">
			          <div></div>
			          <div></div>
			          <div></div>
			        </div>
				</button>
			</div>
		</div>
	</div>
	<div class="com-right-wrap">
		<div class="com-right-img">
			<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
		</div>
		<div class="com-right-img">
			<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
		</div>
		<div class="com-right-img">
			<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
		</div>
		<button class="report-card ripple"><span class="icon icon-add"></span>我要发帖</button>
		<div class="com-introduce">
			<h4>全国靓号社区</h4>
			<p>全国靓号是一个全国性的号码号码交易平台本社区仅用作买家和卖家的相互交流，在发布动态或者提问前请详细阅读平台规则。</p>
			<div class="auth-group">
				<h4>官方交流群</h4>
				<div class="group-info-wrap">
					<div class="group-list">
						<ul>
							<li><span>交流群①</span><span class="add-group-btn mcolor"><span class="icon icon-add"></span>加入</span></li>
							<li><span>交流群①</span><span class="add-group-btn mcolor"><span class="icon icon-add"></span>加入</span></li>
							<li><span>交流群①</span><span class="add-group-btn mcolor"><span class="icon icon-add"></span>加入</span></li>
							<li><span>交流群①</span><span class="add-group-btn mcolor"><span class="icon icon-add"></span>加入</span></li>
						</ul>
					</div>
					<div class="group-erweima">
						<img src="__STATIC__/imgs/wechart.jpg" alt="">
					</div>
				</div>
				<p><span>帖子总数</span><span class="mcolor">6666<span class="icon icon-inc"></span></span></p>
			</div>
		</div>
		<div class="com-right-img">
			<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
		</div>
		<div class="com-right-img">
			<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
		</div>
		<div class="com-right-img">
			<img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt="">
		</div>
		<div class="hot-recommend">
			<h4><span class="icon icon-hot"></span>热门推荐</h4>
			<ul>
				<li>靓号投资新方向，出租手机靓号市场热</li>
				<li>靓号投资新方向，出租手机靓号市场热</li>
				<li>靓号投资新方向，出租手机靓号市场热</li>
				<li>靓号投资新方向，出租手机靓号市场热</li>
				<li>靓号投资新方向，出租手机靓号市场热</li>
				<li>靓号投资新方向，出租手机靓号市场热</li>
				<li>靓号投资新方向，出租手机靓号市场热</li>
			</ul>
		</div>
		<div class="hot-app">
			<h4><span class="icon icon-hot1"></span>应用推荐</h4>
			<ul>
				<li><img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt=""></li>
				<li><img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt=""></li>
				<li><img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt=""></li>
				<li><img src="https://img2.mukewang.com/5bd7f8f70001dfd806000336-240-135.jpg" alt=""></li>
			</ul>
		</div>
	</div>
</div>
{include file="public/pubfooter" /}