<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta name="applicable-device" content="pc">
    <title>中国靓号吧</title>
	<meta name="keywords" content="手机靓号网,手机号,手机号码大全,靓号网,移动靓号,联通靓号,电信靓号,移动号码,联通号码,QQ号,400电话,电话号码,集号吧" />
	<meta name="description" content="" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="__CSS__/index.css" rel="stylesheet" type="text/css" />
	<link href="__CSS__/global.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header class="index-header">
	<div class="index-header-top">
		
	</div>
	<div class="index-header-mid">
		
	</div>
	<nav class="index-header-bot">
		
	</nav>
</header>

