<!-- 友情链接 -->
	<div class="kind-wrap">
		<h4><span class="icon icon-url mcolor"></span>友情链接</h4>
		<div class="row friend-url">
			<span class="furl-list"><a href="#">中国靓号吧</a></span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
			<span class="furl-list">中国靓号吧</span>
		</div>
	</div>
	<!-- 友情链接结束 -->
<footer class="footer-wrap">
	<div class="footer-main">
		<dl>
		   <dt>新手上路</dt>
		   <dd>如何注册成为会员</dd>
		   <dd>积分细则</dd>
		   <dd>积分兑换说明</dd>
		   <dd>忘记密码</dd>
		   <dd>如何搜索</dd>
		</dl>
		<dl>
		   <dt>支付方式</dt>
		   <dd>分期付款</dd>
		   <dd>邮局汇款</dd>
		   <dd>公司转账</dd>
		   <dd>如何注册支付宝</dd>
		   <dd>在线支付</dd>
		</dl>
		<dl>
		   <dt>售后服务</dt>
		   <dd>联系卖家</dd>
		   <dd>退换货政策</dd>
		   <dd>退换货流程</dd>
		   <dd>返修/退换货</dd>
		   <dd>退款申请</dd>
		</dl>
		<dl>
		   <dt>购物指南</dt>
		   <dd>会员修改密码</dd>
		   <dd>会员修改个人资料</dd>
		   <dd>商品发布</dd>
		   <dd>修改收货地址</dd>
		</dl>
		<dl>
		   <dt>联系我们</dt>
		   <div class="contact-number">
		   		<span class="icon icon-num mcolor"></span>
		   		<div>
		   			<span class="title-wrap">400-000-000</span>
		   			<span class="title-time">08:00-22:30（周一至周日）</span>
		   		</div>
		   </div>
		   <div class="contact-email">
		   		<span class="icon icon-peple mcolor"></span>
		   		<div>
		   			<span class="title-wrap">在线客服</span>
		   			<span class="title-time">E-mail:web@123456.com</span>
		   		</div>
		   </div>
		</dl>
		<dl>
		   <dt>关注我们</dt>
		   <div class="focus-uswrap">
			   <div class="focus-us">
				   	<img src="__STATIC__/imgs/wechart.jpg" alt="">
				   	下载APP手机端
			   </div>
			   <div class="focus-us">
				   	<img src="__STATIC__/imgs/wechart.jpg" alt="">
				   	关注微信公众号
			   </div>
		   </div>
		</dl>
	</div>
	<div class="footer-nav">
		<p>
			<span>首页</span>
			<span>最新活动</span>
			<span>手机靓号</span>
			<span>固定电话</span>
			<span>400电话</span>
			<span>靓号社区</span>
			<span>靓号定制</span>
			<span>合作伙伴</span>
			<span>服务中心</span>
		</p>
		<p>
			Copyright 2008-2019 golianghao.com, All Rights Reserved 鄂ICP备1960601号
		</p>
	</div>
</footer>
<!-- 加载层 -->
<div class="loader">
    <div class="line-loader line-scale">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__JS__/global.js"></script>
{if($iscurent=='Mobile')}
	<script type="text/javascript" src="__JS__/vue.js"></script>
	<script type="text/javascript" src="__JS__/mobile.js"></script>
{/if}
<script type="text/javascript">
	var timer;
	var banner={
		index:0,
		elem:".banner-img",
		time:5000,
		init:function(elem,time){
			var self=this;
			var num=$(self.elem).find("img").length;
			timer=setInterval(function(){
				if (self.index==num) {
					self.index=0;
				}
				self.banner(self.elem);
			},self.time);
		},
		banner:function(){
			var self=this;
			$(self.elem).find("li").eq(self.index).fadeIn().siblings().hide();
			$(".banner-list li").eq(self.index).addClass("banner-active").siblings().removeClass("banner-active");
			self.index+=1;
		},
		switch:function(index){
			var self=this;
			self.index=index;
			$(self.elem).find("li").eq(self.index).fadeIn().siblings().hide();
			$(".banner-list li").eq(self.index).addClass("banner-active").siblings().removeClass("banner-active");
			self.init();
		},
		switchev:function(){
			var self=this;
			$(".banner-list li").click(function(){
				clearInterval(timer);
				var index=$(this).index();
				self.switch(index);
			});
		}
	};
	function numberevents(){
		/*号码详情*/
		$(".num-detail").click(function(){
			console.log("aaa");
		})
	}
	$(function(){
		$(".top-list-wrap li").hover(function(){
			$(this).addClass("hover").siblings().removeClass("hover");
			$(this).find(".icon").removeClass("icon-down").addClass("icon-up");
			$(this).children(".toggle-wrap").slideDown();
			},function(){
				$(this).removeClass("hover");
				$(this).find(".icon").removeClass("icon-up").addClass("icon-down");
				$(this).children(".toggle-wrap").hide();
		});
		$(".switch-address").hover(function(){
			$(this).addClass("cityhover").siblings().removeClass("cityhover");
			$(this).find(".icon").removeClass("icon-down").addClass("icon-up");
			$(this).children(".city-wrap").show();
			},function(){
				$(this).removeClass("cityhover");
				$(this).find(".icon").removeClass("icon-up").addClass("icon-down");
				$(this).children(".city-wrap").hide();
		});
		$(".city-ul li").hover(function(){
			$(this).addClass("hovered").siblings().removeClass("hovered");
			var index=$(this).index();
			$("#c"+index).show().siblings("div").hide();
		});
		$(".number-kind-sel li").hover(function(){
			$(this).children("div").show();
		},function(){
			$(this).children("div").hide();
		});
		$(".number-kind-sel div span").click(function(){
			var text=$(this).text();
			$(".number-kind-sel li>span").text(text);
			$(this).parent().hide();
		});
		$(".title-right>div>span").hover(function(){
			$(this).addClass("kindseled").siblings().removeClass("kindseled");
		})
		banner.init();
		banner.switchev();
		numberevents();
	})
</script>
</body>
</html>