<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta name="applicable-device" content="pc">
    <title>中国靓号吧</title>
	<meta name="keywords" content="手机靓号网,手机号,手机号码大全,靓号网,移动靓号,联通靓号,电信靓号,移动号码,联通号码,QQ号,400电话,电话号码,集号吧" />
	<meta name="description" content="" />
	<meta name="robots" content="All" />
	<meta http-equiv="Content-Language" content="zh_CN" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link href="__CSS__/global.css" rel="stylesheet" type="text/css" />
	<link href="__CSS__/index.css" rel="stylesheet" type="text/css" />
	{if($iscurent=='member')}
	<link href="__CSS__/member.css" rel="stylesheet" type="text/css" />
	{/if}
</head>
<body>
<header class="index-header">
	<div class="index-header-top">
		<div class="header-top-wrap common-width common-cboth">
			<div class="header-top-left">
				欢迎来到全国靓号交易平台<span class="mobile-wrap"><span class="icon icon-phone"></span>手机逛商城</span>
			</div>
			<div class="header-top-right">
				<div class="loggedin-wrap">
					您好
					<a class="user-name">游客名游客名游客名</a>
				</div>
				<div class="nologin-wrap hidden">
					<a>登录</a>
					<a>注册</a>
				</div>
				<ul class="top-list-wrap">
					<li class="hover">
						<a class="hover">我的订单<i class="icon icon-down"></i></a>
						<div class="toggle-wrap">
							
						</div>
					</li>
					<li class="hover">
						<a>我的收藏<i class="icon icon-down"></i></a>
						<div class="toggle-wrap">
							
						</div>
					</li>
					<li class="hover">
						<a>意见/投诉<i class="icon icon-down"></i></a>
						<div class="toggle-wrap">
							
						</div>
					</li>
					<li class="hover">
						<a>官方微信<i class="icon icon-down"></i></a>
						<div class="toggle-wrap" style="width: 130px;">
							<img src="__STATIC__/imgs/wechart.jpg">
						</div>
					</li>
					<li class="hover">
						<a>网站导航<i class="icon icon-down"></i></a>
						<div class="toggle-wrap"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="index-header-mid">
		<div class="header-mid-wrap">
			<a href="{:url('Index/index')}"><div class="logo-wrap mcolor">全国靓号</div></a>
			<div>
				<span class="gray">已有账号?，</span><a>立即登录</a>
			</div>
		</div>
	</div>
</header>